
<div class="bg-black">
    <div class="container border-bottom border-white">
        <div class="row text-center pt-5">
            <div class="col mx-auto d-flex flex-row">
                <div class="col">
                    <p class="text-secondary fs-6" style="font-family: sans-serif; font-weight: lighter;">Website</p>
                    <p><a href="#" class="link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover">Contact</a></p>
                    <p><a href="#" class="link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover">About</a></p>
                    <p><a href="#" class="link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover">Services</a></p>
                </div>
                <div class="col">
                    <p class="text-secondary fs-6" style="font-family: sans-serif; font-weight: lighter;">Contact</p>
                    <p><a href="#" class="link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover">Get a quote</a></p>
                    <p><a href="#" class="link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover">Form</a></p>
                    <p><a href="#" class="link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover">Email</a></p>
                </div>
                <div class="col">
                    <p class="text-secondary fs-6" style="font-family: sans-serif; font-weight: lighter;">Social</p>
                    <p><a href="#" class="link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover">Facebook</a></p>
                    <p><a href="#" class="link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover">Instagram</a></p>
                    <p><a href="#" class="link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover">Twitter</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row ">
            <div class="col d-flex flex-row align-items-start gap-3 pb-5 pt-5">
                <p><a href="#" class="link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover">Cookie Policy</a></p>
                <p><a href="#" class="link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover">Privacy</a></p>
                <p><a href="#" class="link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover">Terms of Use</a></p>  
            </div>
        </div>
    </div>
</div>