
<div class="bg-black">
    <div class="container">
        <div class="row">
            <div class="col-12 mx-auto">
                <div class="card text-bg-dark">
                    <img src="/Images/Rectangle 12.png" class="card-img bg-black bg-opacity-25" alt="...">
                    <div class="card-img-overlay d-flex justify-content-center align-items-center flex-column">
                        <p class="card-title fs-1 text-center" style="font-family: sans-serif; font-weight: bold">Book a call today!</p>
                        <p class="text-white" style="font-family: sans-serif">Fill out the form and we'll get back to you asap</p>
                        <button class="btn btn-outline-light">Book now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>