<div class="bg-black">
    <div class="container-fluid position-relative bg-black h-auto justify-content-center text-center pt-5 ">
        <div class="row">
            <div class="col-xl">
                <p class="text-white text-center pt-2 text-lg-center hero-font-text ">Luxury Car Detailing</p>
                <div class="row position-relative text-center  ">
                    <p class="text-white text-center hero-font-text-two">
                        Experience the prestige of a professionally detailed car,<br />
                        radiating elegance and refinement at every turn.
                    </p>
                    <div class="col-sm">
                        <button class="btn btn-outline-light text-center btn-block">Lets Connect</button>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid p-0 m-0">
        <img src="Images/HeroImage.png" class="w-100 h-auto hero-image" alt="Hero image">
            
    </div>
</div>