

<div class="bg-black">
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="/Images/SectionThree.png" class="img-fluid w-100 h-auto mt-5" alt="Detailed Car">
            </div>
        </div>
    </div>
</div>