

<div class="bg-black">
    <div class="container">
        <div class="row mb-5">
            <p class="text-white text-start border-bottom border-white pb-3 mb-5" style="font-family: sans-serif">Luxury car detailing</p>
            <div class="col-md">
                <p class="text-white fs-2 text-bold" style="font-family: sans-serif; font-weight: bold">Love in Every Detail</p>
            </div>
            <div class="col-md">
                <p class="text-white" style="font-family: sans-serif">Immerse yourself in luxury with our bespoke detailing packages tailored to your car's unique needs.</p>
            </div>
        </div>
        <div class="row d-flex justify-content-center g-4">
            <div class="col-md-4 d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <img src="/Images/CardOne.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-dark">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <img src="/Images/CardTwo.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-dark">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <img src="/Images/CardThree.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-dark">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
