



<div class="bg-black">
    <div class="container pb-5 pt-5">
        <div class="row">
            <div class="col-lg">
                <p class="fs-2 text-white text-center" style="font-family: sans-serif; font-weight: bold">We will take good care of your car</p>
                <img src="/Images/sebadam__An_elegant_image_featuring_a_luxury_car_symbolizing__bef4d304-fd2f-45fb-a57a-bdb7dc1ac240_0 (1) 1.png" class="img-fluid" alt="Car">
            </div>
            <div class="col-md border-start border-white border-1 border-opacity-50">
                <div class="container-sm">
                    <div class="d-flex flex-row align-items-center">
                        <i class="fa-solid fa-crosshairs" style="color: #ffffff;"></i>
                        <p class="fs-2 mb-0 ps-2 text-white" style="font-family: sans-serif">Precise work</p>
                    </div>
                    <p class="border-bottom border-white text-white pb-4 border-opacity-50" style="font-family: sans-serif">We uphold the highest standards of professionalism when servicing your vehicles.</p>
                </div>
                <div class="container-sm">
                    <div class="d-flex flex-row align-items-center">
                        <i class="fa-solid fa-gem" style="color: #ffffff;"></i>
                        <p class="fs-2 mb-0 ps-2 text-white" style="font-family: sans-serif">Premium Products and Services</p>
                    </div>
                    <p class="border-bottom border-white text-white pb-4 border-opacity-50" style="font-family: sans-serif">Ensure your car's longevity with a periodic exterior protection treatment.</p>
                </div>
                <div class="container-sm">
                    <div class="d-flex flex-row align-items-center">
                        <i class="fa-solid fa-shield" style="color: #ffffff;"></i>
                        <p class="fs-2 mb-0 ps-2 text-white" style="font-family: sans-serif">High-Level Security and Privacy</p>
                    </div>
                    <p class="border-bottom border-white text-white pb-4 border-opacity-50" style="font-family: sans-serif">We understand the importance of privacy and security for their our clientele.</p>
                </div>
            </div>
        </div>
    </div>
</div>